Package: wmd
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: make
Maintainer: Martin Werner <martin.werner@ifi.lmu.de>
Description: Translates W-Markdown to html
 Wmd is an extension to markdown covering R integration, twitter and 
 other nice stuff
